# Byte-compiled / optimized / DLL files
__pycache__/
*.o
*.pyc

# vim swap files
*.swp
*.swo
out/*
!out/README.md
py_platypus/out/*
!py_platypus/out/README.md


# don't commit binaries except README and skip research
bin/*
!bin/README.md
research

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# skip videos
*.mp4
